/******start*************************** #HEADER **********************************/
header {
    width: 100%;
    height: 85px;
    background-color: #fff;
    color:black;
    padding-top: 15px;

    nav {
        margin: 5px 50px;
        padding:5px 50px;
        background: transparent !important;

        .navbar-brand {

        }
        .tel {
            color: red;
            font-weight: 600;
            padding: 5px 8px;
            border-radius: 10px;
            background: #FEE5E1;
        }

        #collapsibleNavbar {
            justify-content: flex-end;

            ul {
                font-weight: bolder;

                .navmenu-user {
                    color: #fff;
                    font-weight: 600;
                    width: 150px;
                    padding: 0px 10px;
                    border-radius: 25px;
                    background: #FF4A35;

                    a {
                        color: #fff;
                        .fa-angle-down {
                        float: right;
                        margin-top: 5px;
                    }

                    }
                }
                li:nth-child(6) {
                    margin-right: 10px;;
                }
            }
        }
    }

}
/*********end************************ #HEADER **********************************/
