


/********start-**********box-left***************/
.box-left {
    border-bottom: solid 1px #e3e3e3;

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #3043DF;
    }
    h4 {
        font-size: 1rem;
        font-weight: bold;
    }
    p{
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 0.4rem;
        color: #8B8B8B;
    }

}

.box-left2 {
    border-bottom: 0;
    margin-top: 10px;


}

/********end-**********box-left***************/



/********start-**********box-right***************/
.content-payment {
    background: #FFFFFF;
    padding: 20px 20px;
    border-radius: 10px;;
    h2 {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    div.row-sum {
        margin-top: 20px;
        font-weight: bolder;
    }

}


.checkbox-allow {
    margin-top: 5px;
    margin-right: 20px;

        /* Customize the label (the container) */
        .container {
            display: block;
            position: relative;
            margin-left: 30px;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

}


#payment-way {



    .head-payment-way {
        width:100%;
        text-align: center;

        h2 {
            font-size: 1.5rem;
            color:red;
            margin-top: 30px;
        }



    }

    .card{
        height: 450px;
        text-align: center;
        border-radius: 10px 0 0 10px;
        .card-body {
            padding: 0.5rem !important;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                color: #4A4C59;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            span {
                display: inline-block;
                padding-top: 20px;
            }

            .icon-credit {
                position: relative;
                width: 80px;
                height: 80px;
                border: solid 2px skyblue;
                border-radius: 50%;
                text-align: center;
                display:flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                i {
                    //position: absolute;
                    color: skyblue;
                    left: 10%;
                    top: 10%;
                    font-size: 2em;
                }
            }


            div.btn-pay {
                color: white;
                background: #FF4A35;
                border-radius: 25px;
                width: 100px;
                height: 30px;
                margin: 70px auto 25px auto;
                align-content: center;
                cursor: pointer;
                &:hover {
                    background: rgb(253, 131, 117);
                }
            }

            div.btn-pay2 {
                margin: 47px auto 25px auto;
            }

            .logo-credit {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex:  0 1 auto;

                img {
                    width: 35px;
                    height: 35px;
                    margin: 10px 5px;
                }
            }

        }
    }

    .card2 {
        border-radius: 0 10px 10px 0;
    }


}



/********end-**********box-right***************/
