//

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #F8F8F8;
    font-family: 'Kanit', sans-serif;
}



  @media screen and (max-width: 770px) {
    nav {
        margin: 5px 5px !important;
    }
    .card {
        border-radius: 10px !important;
        margin-bottom: 5px;
    }

  }

  @media screen and (max-width: 600px) {

  }




  //******start****************import-css***********************************//
  @import "./_header.scss";
  @import "./_payment.scss";
  @import "./_footer.scss";

  //******end****************import-css***********************************//
