* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F8F8F8;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 770px) {
  nav {
    margin: 5px 5px !important;
  }

  .card {
    border-radius: 10px !important;
    margin-bottom: 5px;
  }
}

/******start*************************** #HEADER **********************************/

header {
  width: 100%;
  height: 85px;
  background-color: #fff;
  color: black;
  padding-top: 15px;
}

header nav {
  margin: 5px 50px;
  padding: 5px 50px;
  background: transparent !important;
}

header nav .tel {
  color: red;
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 10px;
  background: #FEE5E1;
}

header nav #collapsibleNavbar {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

header nav #collapsibleNavbar ul {
  font-weight: bolder;
}

header nav #collapsibleNavbar ul .navmenu-user {
  color: #fff;
  font-weight: 600;
  width: 150px;
  padding: 0px 10px;
  border-radius: 25px;
  background: #FF4A35;
}

header nav #collapsibleNavbar ul .navmenu-user a {
  color: #fff;
}

header nav #collapsibleNavbar ul .navmenu-user a .fa-angle-down {
  float: right;
  margin-top: 5px;
}

header nav #collapsibleNavbar ul li:nth-child(6) {
  margin-right: 10px;
}

/*********end************************ #HEADER **********************************/

/********start-**********box-left***************/

.box-left {
  border-bottom: solid 1px #e3e3e3;
}

.box-left h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3043DF;
}

.box-left h4 {
  font-size: 1rem;
  font-weight: bold;
}

.box-left p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 0.4rem;
  color: #8B8B8B;
}

.box-left2 {
  border-bottom: 0;
  margin-top: 10px;
}

/********end-**********box-left***************/

/********start-**********box-right***************/

.content-payment {
  background: #FFFFFF;
  padding: 20px 20px;
  border-radius: 10px;
}

.content-payment h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.content-payment div.row-sum {
  margin-top: 20px;
  font-weight: bolder;
}

.checkbox-allow {
  margin-top: 5px;
  margin-right: 20px;
  /* Customize the label (the container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.checkbox-allow .container {
  display: block;
  position: relative;
  margin-left: 30px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-allow .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-allow .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-allow .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-allow .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkbox-allow .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-allow .container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-allow .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#payment-way .head-payment-way {
  width: 100%;
  text-align: center;
}

#payment-way .head-payment-way h2 {
  font-size: 1.5rem;
  color: red;
  margin-top: 30px;
}

#payment-way .card {
  height: 450px;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

#payment-way .card .card-body {
  padding: 0.5rem !important;
}

#payment-way .card .card-body h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #4A4C59;
  margin-top: 30px;
  margin-bottom: 20px;
}

#payment-way .card .card-body span {
  display: inline-block;
  padding-top: 20px;
}

#payment-way .card .card-body .icon-credit {
  position: relative;
  width: 80px;
  height: 80px;
  border: solid 2px skyblue;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin: auto;
}

#payment-way .card .card-body .icon-credit i {
  color: skyblue;
  left: 10%;
  top: 10%;
  font-size: 2em;
}

#payment-way .card .card-body div.btn-pay {
  color: white;
  background: #FF4A35;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  margin: 70px auto 25px auto;
  align-content: center;
  cursor: pointer;
}

#payment-way .card .card-body div.btn-pay:hover {
  background: #fd8375;
}

#payment-way .card .card-body div.btn-pay2 {
  margin: 47px auto 25px auto;
}

#payment-way .card .card-body .logo-credit {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
}

#payment-way .card .card-body .logo-credit img {
  width: 35px;
  height: 35px;
  margin: 10px 5px;
}

#payment-way .card2 {
  border-radius: 0 10px 10px 0;
}

/********end-**********box-right***************/

/*****start**************Footer*********************************************/

footer {
  margin-top: 100px;
}

/*****end**************Footer*********************************************/

